Agribusiness.WS/Service References/CrpService/ItemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ItemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IItemService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://url.caesdo.caes.ucdavis.edu/crp/Services/ItemService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://url.caesdo.caes.ucdavis.edu/crp/Services/ItemService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://url.caesdo.caes.ucdavis.edu/crp/Services/ItemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRP.Services.Wcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IItemService_CreateCoupon_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCoupon" />
  </wsdl:message>
  <wsdl:message name="IItemService_CreateCoupon_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCouponResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_CancelCoupon_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelCoupon" />
  </wsdl:message>
  <wsdl:message name="IItemService_CancelCoupon_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelCouponResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetRegistrationByReference_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationByReference" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetRegistrationByReference_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationByReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetRegistrations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrations" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetRegistrations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRegistrationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IItemService">
    <wsdl:operation name="CreateCoupon">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/CreateCoupon" message="tns:IItemService_CreateCoupon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/CreateCouponResponse" message="tns:IItemService_CreateCoupon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelCoupon">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/CancelCoupon" message="tns:IItemService_CancelCoupon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/CancelCouponResponse" message="tns:IItemService_CancelCoupon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegistrationByReference">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/GetRegistrationByReference" message="tns:IItemService_GetRegistrationByReference_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/GetRegistrationByReferenceResponse" message="tns:IItemService_GetRegistrationByReference_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRegistrations">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/GetRegistrations" message="tns:IItemService_GetRegistrations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/GetRegistrationsResponse" message="tns:IItemService_GetRegistrations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IItemService" type="tns:IItemService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IItemService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCoupon">
      <soap:operation soapAction="http://tempuri.org/IItemService/CreateCoupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelCoupon">
      <soap:operation soapAction="http://tempuri.org/IItemService/CancelCoupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrationByReference">
      <soap:operation soapAction="http://tempuri.org/IItemService/GetRegistrationByReference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegistrations">
      <soap:operation soapAction="http://tempuri.org/IItemService/GetRegistrations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemService">
    <wsdl:port name="BasicHttpBinding_IItemService" binding="tns:BasicHttpBinding_IItemService">
      <soap:address location="https://url.caesdo.caes.ucdavis.edu/crp/Services/ItemService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>