Agribusiness.WS/Service References/CrpService/ItemService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://url.caesdo.caes.ucdavis.edu/crp/Services/ItemService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRP.Services.Wcf" />
  <xs:element name="CreateCoupon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expiration" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="discountAmount" type="xs:decimal" />
        <xs:element minOccurs="0" name="maxUsage" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="maxQuantity" nillable="true" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRP.Services.Wcf" minOccurs="0" name="couponTypes" type="q1:CouponTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCouponResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCouponResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCoupon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
        <xs:element minOccurs="0" name="couponCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCouponResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelCouponResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistrationByReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
        <xs:element minOccurs="0" name="referenceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistrationByReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CRP.Services.Wcf" minOccurs="0" name="GetRegistrationByReferenceResult" nillable="true" type="q2:ServiceTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistrations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegistrationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CRP.Services.Wcf" minOccurs="0" name="GetRegistrationsResult" nillable="true" type="q3:ArrayOfServiceTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>