Agribusiness.WS/Service References/CrpService/ItemService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CRP.Services.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CRP.Services.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://url.caesdo.caes.ucdavis.edu/crp/Services/ItemService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="CouponTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unlimited" />
      <xs:enumeration value="LimitedUsage" />
      <xs:enumeration value="SingleUsage" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CouponTypes" nillable="true" type="tns:CouponTypes" />
  <xs:complexType name="ServiceTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateRegistered" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paid" type="xs:boolean" />
      <xs:element minOccurs="0" name="ServiceQuestions" nillable="true" type="tns:ArrayOfServiceQuestion" />
      <xs:element minOccurs="0" name="TransactionNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceTransaction" nillable="true" type="tns:ServiceTransaction" />
  <xs:complexType name="ArrayOfServiceQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceQuestion" nillable="true" type="tns:ServiceQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceQuestion" nillable="true" type="tns:ArrayOfServiceQuestion" />
  <xs:complexType name="ServiceQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Answer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantityIndex" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Question" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceQuestion" nillable="true" type="tns:ServiceQuestion" />
  <xs:complexType name="ArrayOfServiceTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceTransaction" nillable="true" type="tns:ServiceTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceTransaction" nillable="true" type="tns:ArrayOfServiceTransaction" />
</xs:schema>