Agribusiness.WS/Service References/CatbertMessageService/Message2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://secure.caes.ucdavis.edu/Catbert4" elementFormDefault="qualified" targetNamespace="https://secure.caes.ucdavis.edu/Catbert4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://dev.caes.ucdavis.edu/Catbert4/public/Message.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Catbert4.Services.Wcf" />
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Catbert4.Services.Wcf" minOccurs="0" name="GetMessagesResult" nillable="true" type="q1:ArrayOfServiceMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>